.topContainer {
  padding-top: 153px;
  padding-left: 144px;
  padding-right: 144px;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 64px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.titleAndDescription {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.horizontalLine {
  height: 1px;
  width: 100%;
  background-color: #000;
  margin-top: 100px;
  margin-bottom: 48px;
}

.noBold {
  font-weight: 400;
  font-size: 20px;
}

.problemSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.questionSection {
  padding-top: 48px;
  padding-bottom: 48px;
}

.bigP {
  font-size: 32px;
}

.graphicContainer {
  height: 100%;
  padding-left: 48px;
}

.littleSectionContainer {
  display: flex;
  flex-direction: column;
  padding-top: 108px;
  gap: 52px;
}

.topLittleSection {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.painPointsContainer {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
}

.painPointsContainer > * {
  flex: 1;
}

.painPoint {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;

  background-color: #BFD3DF;
  border-radius: 15px;
  padding: 12px;
}

.buffer {
  height: 140px;
}

.affinityContainer {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.figjamAndText {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.figTextContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.figTitle {
  color: #28536b;
  font-weight: 700;
}

.rightAlignText {
  max-width: 70%;
}

.rightAlignDiv {
  text-align: right;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.arrowAndText {
  display: flex;
  flex-direction: row;
  gap: 36px;
  margin-top: 48px;
}

.whyContainer {
  margin-top: 56px;
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.whyAndText {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.iconAndWhy {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.circleWithOne {
  width: 20px;
  height: 20px;
  background-color: #28536b;
  border-radius: 100%;

  color: #fff;
  font-size: 12.8px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.tealText {
  color: #28536b;
  font-weight: 700;
}

.redefiningContainer {
  padding-left: 40px;
}

.crazy8sContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.effortContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.sketchesContainer {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  width: 100%;
  padding-bottom: 48px;
}

.addressPain {
  color: #28536b;
  font-size: 28px;
}

.painContainer {
  padding-top: 36px;
  padding-left: 36px;
}

.addressColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 64px;
}

.addressTextAndCircle {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.addressText {
  color: #28536b;
  font-size: 24px;
}

.addressColumnsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 64px;
}

.addressColumnsContainer > * {
  flex: 1
}

.reflectionContainer {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
}
