.container {
  top: 153px;
  position: relative;
  height: 100%;
  padding-left: 144px;
  padding-right: 144px;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 64px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.titleAndDescription {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.noBold {
  font-weight: 400;
}
