.hamburgerMenu {
  width: 32px;
  height: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburgerLine {
  width: 100%;
  height: 4px;
  background-color: #000;
}
