.topContainer {
  padding-top: 153px;
  padding-left: 144px;
  padding-right: 144px;
}

.titleAndDescription > p {
  font-size: 14px;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 64px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.titleAndDescription {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.horizontalLine {
  height: 1px;
  width: 100%;
  background-color: #000;
  margin-top: 100px;
  margin-bottom: 48px;
}

.noBold {
  font-weight: 400;
  font-size: 20px;
  max-width: 90%;
}

.problemSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.HMW {
  font-size: 32px;
  font-weight: 700;
}

.searchExperience {
  color: #28536b;
}

.questionSection {
  padding-top: 24px;
  padding-bottom: 48px;
}

.italic {
  color: #000;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.finalDesignsTextContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.finalDesignsContainer2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.finalDesignsContainer2 > * {
  flex: 1;
}

.finalDesignsContainer {
  background-color: #ededed;
  padding-left: 144px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.mainImageContainer {
  display: flex;
  justify-content: center;
}

.howGetHereContainer {
  background-color: #353434;
  padding: 48px 144px 48px 144px;
  /* check the padding */
}

.white {
  color: #fff;
}

.stepsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 48px;
  padding-left: 48px;
  padding-right: 48px;
}

.step {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.stepText {
  color: #fff;
  font-family: var(--font-neuton);
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.numberAndText {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.littleSectionContainer {
  display: flex;
  flex-direction: column;
  padding-top: 108px;
  gap: 52px;
}

.insightsContainer {
  display: flex;
  flex-direction: row;
  padding: 12px 18px;
  gap: 32px;
  border-radius: 20px;
  background: #ededed;
  margin-top: 32px;
}

.insight {
  flex: 1;
  padding: 5px 15px;
  border-radius: 15px;
  background: #bfd3df;
}

.insightsContainer {
  position: relative;
}

.insightsContainer::before {
  content: '';
  position: absolute;
  top: 50%;
  /* left: ; */
  width: 75%;
  height: 2px;
  background-color: #BFD3DF;
  /* z-index: -1; */
}

.insight > p {
  font-size: 15px;
  font-weight: 500;
}

.resultsContainer {
  display: flex;
  padding: 12px 80px;
  justify-content: space-evenly;
  gap: 90px;
  border-radius: 20px;
  margin-top: 32px;
  background: #ededed;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.result > p {
  font-size: 15px;
  font-weight: 500;
  text-decoration-line: underline;
}

.themesContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.lofi {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 48px;
}

.lofi > * {
  flex: 1;
}

.userTestingLittleSectionContainer {
  padding-top: 48px;
}

.lofiContainer {
  padding-bottom: 48px;
}

.pagesContainer {
  padding-left: 144px;
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.reflectionContainer {
  padding-left: 80px;
  padding-right: 144px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
}

.finalContainer {
  padding-top: 48px;
  width: 100%;
  display: flex;
  justify-content: center;
}