.container {
  padding-left: 164px;
  padding-right: 164px;
  padding-top: 240px;
  color: #ededed;
  padding-bottom: 48px;
  background: #3B3B3B;
}

.topContainer {
  display: flex;
  gap: 148px;
  align-items: center;
  justify-content: space-between;
  padding-right: 80px;
  padding-bottom: 140px;
}

.topContainer > * {
  flex: 1;
}

.textContainer > h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.imageColumn {
  display: flex;
  gap: 20px;
  flex-direction: column;
  flex: 1;
}

.images {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex: 1;
}

.rightImages {
  flex: 2;
}

.heartsAndText {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.heartsAndText > p {
  color: #ededed;
  text-align: right;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: var(--font-neuton);
}
