.container {
  display: flex;
  flex-direction: column;
  gap: 44px;
  align-items: flex-start;
}

.roleContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}

.name {
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.description {
  color: #000;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.currently {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.role {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
