.textContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

.name {
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.description {
  color: #000;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 144px;
  padding-right: 172px;
  width: 100%;
  align-items: center;
}

.roleContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}

.currently {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.role {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
