.container {
  display: flex;
  gap: 30px;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.roleType {
  color: #878686;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.title {
  color: #000;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.subtitle {
  color: #000;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.description {
  color: #878686;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-top: 20px;
}

.link {
  text-decoration: none;
  color: inherit;
}
