.topContainer {
  padding-top: 153px;
  padding-left: 144px;
  padding-right: 144px;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 64px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.titleAndDescription {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.titleAndDescription > p {
  font-size: 14px;
}

.horizontalLine {
  height: 1px;
  width: 100%;
  background-color: #000;
  margin-top: 100px;
  margin-bottom: 48px;
}

.noBold {
  font-weight: 400;
  font-size: 20px;
  max-width: 90%;
}

.problemSection {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.bigP {
  font-size: 32px;
  font-weight: 700;
}

.green {
  color: #86be75;
}

.questionSection {
  padding-top: 48px;
  padding-bottom: 48px;
}

.enjoyable {
  max-width: 70%;
}

.italic {
  color: #000;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

#sneakPeek {
  padding-top: 20px;
}

.imageRow {
  display: flex;
  gap: 12px;
}

.finalDesignContainer {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  background: #ededed;
  padding-top: 32px;
  padding-left: 144px;
  padding-right: 144px;
  padding-bottom: 64px;
}

.finalDesignColumn {
  display: flex;
  flex-direction: column;
}

.finalIterationText {
  padding-top: 28px;
}

.wipContainer {
  padding-top: 64px;
  padding-left: 144px;
  padding-right: 144px;
  padding-bottom: 64px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#wip {
  font-size: 24px;
}