.section {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 144px;
  @media (max-width: 768px) {
    padding-left: 48px;
    padding-right: 48px;
  }
  border-bottom: 1px solid #000;
  gap: 16px;
}

.grey {
  background: #ededed;
}

.shortenLineBottom {
  padding-bottom: 48px;
}

.shortenLineTop {
  padding-top: 48px;
}

.insideSection {
  height: 100%;
  width: 100%;
  @media (min-width: 769px) {
    padding-left: 16px;
    padding-right: 288px;
    border-left: 2px solid #000;
  }
}

#noLine {
  border: none;
  padding-left: 0;
}

#top {
  border-top: 1px solid #000;
}

#noBorderBottom {
  border-bottom: none;
}
