.topContainer {
  padding-top: 153px;
  padding-left: 144px;
  padding-right: 144px;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 64px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.titleAndDescription {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.horizontalLine {
  height: 1px;
  width: 100%;
  background-color: #000;
  margin-top: 100px;
  margin-bottom: 48px;
}

.titleAndDescription > p {
  font-size: 14px;
}

.noBold {
  font-weight: 400;
  font-size: 20px;
  max-width: 90%;
}

.problemSection {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.bigP {
  font-size: 32px;
  font-weight: 700;
}

.red {
  color: #bd081c;
}

.questionSection {
  padding-top: 48px;
  padding-bottom: 48px;
}

.finalRecsContainer {
  display: flex;
  flex-direction: column;
  background: #ededed;
  padding-top: 32px;
  padding-left: 144px;
  padding-right: 144px;
  padding-bottom: 64px;
  gap: 80px;
}

.italic {
  color: #000;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.finalRecsTop {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.howGetHereContainer {
  background-color: #353434;
  padding: 64px 144px 64px 144px;
  /* check the padding */
}

.white {
  color: #fff;
}

.stepsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 48px;
  padding-left: 48px;
  padding-right: 48px;
}

.step {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.stepText {
  color: #fff;
  font-family: var(--font-neuton);
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.numberAndText {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.littleSectionContainer {
  display: flex;
  flex-direction: column;
  padding-top: 108px;
  gap: 52px;
}

.researchTop {
  display: flex;
  justify-content: space-between;
  gap: 76px;
  padding-top: 48px;
  padding-left: 96px;
}

.researchTop > * > h6 {
  color: #000;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.researchTop > div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.pinsAndImage {
  display: flex;
  align-items: center;
  gap: 48px;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 48px;
}

.pinsContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: space-evenly;
}

.pinRectangle {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 8px;
  background: #ededed;
  border-radius: 8px;
}

.surveyContainer {
  display: flex;
  flex-direction: column;
  gap: 52px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.responses {
  display: flex;
  gap: 16px;
  justify-content: space-around;
  padding-top: 32px;
}

.responses > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.responses > div > div > p {
  font-size: 14px;
}

.contextPins {
  display: grid;
  grid-template-columns: auto auto;
  gap: 24px;
  padding-top: 32px;
  align-items: center;
}

.competitorAnalysis {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.createAndAsterisk {
  display: flex;
  padding-left: 48px;
}

.conceptSelection {
  display: flex;
  gap: 48px;
  justify-content: space-between;
}

.conceptSelection > * {
  flex: 1;
}

.conceptSelectionTextAndPins {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.conceptSelectionPins {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.compare {
  color: #fff;
}

.reflectionContainer {
  padding-left: 80px;
  padding-right: 144px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
  padding-top: 24px;
}

.compareContainer {
  display: flex;
  gap: 56px;
  flex-direction: column;
  padding-top: 48px;
  padding-bottom: 48px;
}
