.gradient {
  background: linear-gradient(
    248deg,
    #aba9a9 7.75%,
    rgba(251, 251, 251, 0.2) 100%
  );
  width: 100%;
}

.topGradient {
  height: 100%;
}

.bottomGradient {
  padding: 26px 119px 205px 144px;
}

.introTextContainer {
  padding: 274px 189px 0 289px;
}

.projectTilesContainer {
  display: flex;
  flex-direction: column;
  gap: 118px;
  padding: 76px 169px 410px 146px;
}

.getInTouch {
  color: #000;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
