.gradient {
  background: linear-gradient(
    248deg,
    #aba9a9 7.75%,
    rgba(251, 251, 251, 0.2) 100%
  );
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottomBackground {
  background: #e1e1e1;
  padding: 96px 144px 63px 88px;
}

.introTextContainer {
  text-wrap: balance;
  margin: auto 100px;
  @media (min-width: 1000px) {
    margin: auto;
  }
  max-width: 800px;
  padding: 144px 0 144px 0;
}

.projectTilesContainer {
  display: flex;
  flex-direction: column;
  gap: 118px;
  padding: 76px 169px 140px 48px;
  @media (min-width: 1000px) {
    padding: 76px 169px 140px 146px;
  }
}
