.line {
  width: 100%;
  border-top: 1px solid;
}

.getInTouch {
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
  /* margin-right: 64px; */
}

.emailText {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
}

/* .textField {} */

.container {
}

.leftContainer {
  display: flex;
  flex-direction: column;
  gap: 43px;
}

.middleContainer {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: flex-end;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 83px;
}

.nameEmail {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #605e5e;
  outline: none;
  background: none;
  margin: 0;
  box-sizing: border-box;

  color: #605e5e;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: var(--font-neuton);
}

.message {
  border-radius: 10px;
  background: none;
  border: 1px solid #605e5e;
  resize: none;
  outline: none;

  color: #605e5e;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: var(--font-neuton);

  padding: 10px;
  padding-bottom: 0;

  height: 100%;
}

.submit {
  border-radius: 10px;
  border: 1px solid #605e5e;
  background: #605e5e;
  padding: 10px;
  color: inherit;
  cursor: pointer;
  float: right;

  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: var(--font-neuton);
}

.submit:hover {
  background: #000;
}
