.line {
  width: 100%;
  border-top: 1px solid;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  background: #E1E1E1;
  padding: 96px 144px 63px 88px;
}

.getInTouch {
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
  margin-right: 64px;
}

.emailText {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  gap: 43px;
}

.middleContainer {
  display: flex;
  flex-direction: column;
  gap: 38px;
  flex-grow: 0.6;
}

.rightContainer {
  flex-grow: 1;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 83px;
}

.nameEmail {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #605e5e;
  outline: none;
  background: none;
  margin: 0;
  box-sizing: border-box;

  color: #605e5e;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: var(--font-neuton);
  width: 100%;
}

.message {
  border-radius: 10px;
  background: none;
  border: 1px solid #605e5e;
  resize: none;
  outline: none;

  color: #605e5e;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: var(--font-neuton);

  padding: 10px;
  padding-bottom: 0;
  padding-right: 0;

  height: calc(100% - 10px);
  width: calc(100% - 10px);
}

.submit {
  border-radius: 10px;
  border: 1px solid #605e5e;
  background: #605e5e;
  padding: 10px;
  color: inherit;
  cursor: pointer;
  float: right;

  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: var(--font-neuton);

  align-self: flex-end;
}

.submit:hover {
  background: #000;
}
