.outerContainer {
  position: absolute;
  top: 54px;
  left: 70px;
  width: calc(100% - 140px);
}

.container {
  display: flex;
  height: 60px; /* make responsive */
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.linksContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.linkText {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-family: var(--font-manrope);
  text-decoration: none;
}

.linkText:hover {
  color: #888888;
}

.dropdownButton {
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

#projects {
  padding-left: 12px;
}

#projects:hover {
  padding-left: 12px;
  color: #000;
}

.dropdown {
  width: 100%;
  height: 100%;
}

.dropdownContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 16px;
  padding: 12px;
}

.white {
  background-color: white;
}

.dropdownTextIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.dropdownOptionText {
  color: #000;
  font-family: var(--font-manrope);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}

.dropdownOptionText:hover {
  color: #888888;
}