.title {
  color: #000;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  max-width: 80px;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  min-width: 128px;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 96px;
  /* padding-left: 80px; */
  width: 100%;
}

.childrenContainer {
    padding-top: 4px;
}
