.container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.container > * {
  flex: 1;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.column > h2 {
  color: #000;
  font-family: var(--font-manrope);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
